asgiref==3.5.2
blinker==1.9.0
click==8.1.7
colorama==0.4.6
distlib==0.3.4
Django==4.0.5
filelock==3.7.1
Flask==3.1.0
gunicorn==23.0.0
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==3.0.2
packaging==24.2
platformdirs==2.5.2
PyPDF2==3.0.1
six==1.16.0
sqlparse==0.4.2
tzdata==2022.1
virtualenv==20.15.1
Werkzeug==3.1.3
